.chat-container {
  display: grid;
  grid-template-rows: 14% 64% 20%;
  height: 100vh;
}

.head-name {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 70% 20%;
}

.head-container {
  display: flex;
  margin: 0 1.5vw;
  align-items: center;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.pfp {
  margin-left: auto;
  margin-right: auto;
  background: rgb(243, 243, 243);
  border-radius: 3vw;
}

.pfp img{
  width: 4.5vw
}

.name {
  display: flex;
  font-size: 2vw;
  font-weight: 400;
  align-items: center;
}

.circle {
  content: "";
  width: 0.9vw;
  height: 0.9vw;
  background: rgb(3, 218, 3);
  border-radius: 5vw;
  margin-left: 0.6vw;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icons-container img {
  filter: invert(40%);
  margin-right: 2.5vw;
  width: 1.4vw
}

.main-chat {
  display: block;
  overflow-y: scroll;
  height: 100%;
}


.main-container {
  margin: 0 1.5vw;
  margin-top: 1vw;
}

.reciever-msg {
  padding: 0.7vw;
  float: right;
  font-size: 0.8vw;
  max-width: 40%;
  color: white;
  background: rgb(153, 0, 255);
  border-radius: 1vw 1vw 0px 1vw;
  margin-bottom: 0.7vw;
}


.reciever {
  width: 100%;
  float: right;
}


.sender {
  width: 100%;
  float: left;
}

.send{
  float: left;
  color: rgb(20, 20, 20);
  background: rgb(243, 243, 243);
  border-radius: 1vw 1vw 1vw 0vw;
}

.reply-container {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}

.reply {
  border-top: 1px solid #e8e8e8;
}

.mic-icon {
  display: flex;
  padding: 0.7vw;
  padding-left: 0.7vw;
  background: rgb(243, 243, 243);
  border-radius: 5vw 0vw 0vw 5vw;
}

.mic-icon img {
  cursor: pointer;
  padding: 0.1vw;
  filter: invert(30%);
  width: 1.3vw;
}

.message {
  background: rgb(243, 243, 243);
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: none;
  width: 61%;
  padding-left: 0.3vw;
}

.attach-icon,.camera-icon,.emoji{
  display: flex;
  padding: 0.7vw;
  background: rgb(243, 243, 243);
}
.attach-icon img,.camera-icon img,.emoji img {
  cursor: pointer;
  padding: 0.1vw;
  filter: invert(30%);
  width: 1.3vw;
}


.emoji {
  display: flex;
  padding: 0.7vw;
  background: rgb(243, 243, 243);
  padding-right: 3.5vw;
  border-radius: 0 1vw 1vw 0;
}

.send-btn{
    padding: 0.4vw;
    position: relative;
    display: flex;
    right: 2.8vw;
    width: 2.1vw;
    height: 2.1vw;
    text-align: center;
    align-items: center;
    background: #9900ff;
    border-radius: 5vw;
    transition: 0.5s all;
}

.send-btn:hover{
    cursor: pointer;
    background: #7f00d3;
}


.send-btn img{
    cursor: pointer;
    width: 1.3vw;
    padding: 0.1vw;
    filter: invert(1);
    padding-left: 0.5vw;
}


@media only screen and (max-width:415px){

  .chat-container {
    display: grid;
    grid-template-rows: 10% 81% 9%;
    height: 100vh;
  }

  .head-container{
    margin: 0 13vw;
  }

  .pfp img{
    width: 10vw;
  }

  .pfp{
    border-radius: 6vw;
  }

  .name{
    font-size:5vw
  }

  .head-name{
    grid-template-columns: 20% 57% 22%;
  }

  .circle {
    width: 2vw;
    height: 2vw;
  }

  .icons-container img {
    margin-right: 2.5vw;
    width: 2.8vw
  }

  .main-container {
    margin: 0 4vw;
    margin-top: 4vw;
  }

  .reciever-msg {
    padding: 1.3vw;
    float: right;
    font-size: 3.6vw;
    max-width: 55%;
    margin-bottom: 3vw;
  }

  .send{
    float: left;
    color: rgb(20, 20, 20);
    background: rgb(243, 243, 243);
    border-radius: 1vw 1vw 1vw 0vw;
  }
  .reply-container {
    justify-content:unset;
    margin:0 6vw;
    margin-top: 2vw;
  }

  .mic-icon,.attach-icon,.camera-icon,.emoji{
    padding:2.5vw
  }

  .emoji{
    padding-right: 6vw;
  }

  .mic-icon img,.attach-icon img,.camera-icon img,.emoji img{
    width: 6vw;
  }

  .message {
    width:35%
  }
  .send-btn{
    width: 8vw;
    height: 8vw;
    padding: 2vw;
    right: 2.8vw;
    border-radius: 8vw;
  }

  .send-btn img{
    width: 4vw;
    padding: 1vw;
    padding-left: 2vw;
  }

}
@media only screen and (max-width:1024px){

  .chat-container {
    display: grid;
    grid-template-rows: 10% 81% 9%;
    height: 100vh;
  }

  .head-container{
    margin: 0 13vw;
  }

  .pfp img{
    width: 10vw;
  }

  .pfp{
    border-radius: 6vw;
  }

  .name{
    font-size:5vw
  }

  .head-name{
    grid-template-columns: 20% 57% 22%;
  }

  .circle {
    width: 2vw;
    height: 2vw;
  }

  .icons-container img {
    margin-right: 2.5vw;
    width: 2.8vw
  }

  .main-container {
    margin: 0 4vw;
    margin-top: 4vw;
  }

  .reciever-msg {
    padding: 1.3vw;
    float: right;
    font-size: 3.6vw;
    max-width: 55%;
    margin-bottom: 3vw;
    border-radius: 2vw 2vw 0vw 2vw;
  }

  .send{
    float: left;
    color: rgb(20, 20, 20);
    background: rgb(243, 243, 243);
    border-radius: 2vw 2vw 2vw 0vw;
  }
  .reply-container {
    justify-content:unset;
    margin:0 6vw;
    margin-top: 2vw;
  }

  .mic-icon,.attach-icon,.camera-icon,.emoji{
    padding:2vw
  }

  .emoji{
    padding-right: 8vw;
  }

  .mic-icon img,.attach-icon img,.camera-icon img,.emoji img{
    width: 4vw;
  }

  .message {
    width:60%
  }
  .send-btn{
    width: 6vw;
    height: 6vw;
    padding: 1vw;
    right: 6vw;
    border-radius: 8vw;
  }

  .send-btn img{
    width: 4vw;
    padding: 1vw;
    padding-left: 1.5vw;
  }

}











/* ////////////loadin/////////////////// */
.loadin-container{
  height:80%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7f00d3;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}