<div class="chat-container">

    <div class="profile-container">
        <div class="profile">
            <div class="profile-pic">
                <img src="assets/Person=Mattew, Skin Tone=White, Posture=1 Happy.png" alt="">
            </div>
            <div class="detail-container">
                <div class="detail">
                    <div class="profile-name">John mendwick</div>
                    <div class="profile-profession">Senior developer</div>
                </div>
            </div>
            <div class="edit-icon">
                <img src="assets/pencil.svg" alt="">
            </div>
        </div>
    </div>

    <div class="searchbar">
        <div class="search-btn"><img src="assets/loupe.svg" alt="search" class="search-icon"></div><input type="text" name="search-bar" id="search-bar" placeholder="Search friends">
    </div>



    <div class="chat-list">


        <div class="contact-container">
            <div class="profile-pic list">
                <img src="assets/Character=Ariana, Skin tone=White, Posture=1 Happy.png" alt="pfp" style="width:4vw">
            </div>
            <div class="chat-info">
                <div class="main-info">
                    <div class="name">Reyna sen</div>
                    <div class="time">Just now</div>
                </div>
                <div class="chat-snap">
                    <div class="chat">It's fine, however it gonna work!</div>
                    <div class="chat-stats-container">
                        <div class="stats">1</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="profile-pic list">
                <img src="assets/Person=John, Skin Tone=White, Posture=1 Happy.png" alt="pfp" style="width:4vw">
            </div>
            <div class="chat-info">
                <div class="main-info">
                    <div class="name">Satori bin</div>
                    <div class="time">2min ago</div>
                </div>
                <div class="chat-snap">
                    <div class="chat">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt repellendus unde sapiente numquam. Reiciendis ab adipisci minima distinctio sunt incidunt pariatur placeat hic! Consequatur cumque blanditiis reprehenderit sequi a. Illo.
                    Atque architecto exercitationem expedita quae libero consectetur quasi optio, perferendis in sunt numquam porro ipsam autem laborum dicta vitae nemo dolore? Officiis at fugiat quos perspiciatis vero possimus vitae quisquam!</div>
                    <div class="chat-stats-container">
                        <div class="stats">2</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="profile-pic list">
                <img src="assets/Person=George, Skin Tone=Black, Posture=1 Happy.png" alt="pfp" style="width:4vw">
            </div>
            <div class="chat-info">
                <div class="main-info">
                    <div class="name">Ankush bakshi</div>
                    <div class="time">12:35 PM</div>
                </div>
                <div class="chat-snap">
                    <div class="chat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corpos</div>
                    <div class="chat-stats-container">
                        <div class="stats">1</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="profile-pic list">
                <img src="assets/Character=Ezra, Skin tone=White, Posture=1 Happy.png" alt="pfp" style="width:4vw">
            </div>
            <div class="chat-info">
                <div class="main-info">
                    <div class="name">Arifa abdul</div>
                    <div class="time">11:35 AM</div>
                </div>
                <div class="chat-snap">
                    <div class="chat">It's fine, however it gonna work anyways! so yeah take care of yourself</div>
                    <div class="chat-stats-container">
                        <img src="assets/tick.svg" alt="tick" class="tick">
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="profile-pic list">
                <img src="assets/Character=Darlene, Skin tone=White, Posture=1 Happy.png" alt="pfp" style="width:4vw">
            </div>
            <div class="chat-info">
                <div class="main-info">
                    <div class="name">Annie bliss</div>
                    <div class="time">10:35 AM</div>
                </div>
                <div class="chat-snap">
                    <div class="chat">It's fine, however it gonna work anyways! so yeah take care of yourself</div>
                    <div class="chat-stats-container">
                        <img src="assets/tick.svg" alt="tick" class="tick">
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="profile-pic list">
                <img src="assets/Person=Ed, Skin Tone=White, Posture=1 Happy.png" alt="pfp" style="width:4vw">
            </div>
            <div class="chat-info">
                <div class="main-info">
                    <div class="name">Ankush bakshi</div>
                    <div class="time">Yesterday</div>
                </div>
                <div class="chat-snap">
                    <div class="chat">It's fine, however it gonna work anyways! so yeah take care of yourself</div>
                    <div class="chat-stats-container">
                        <img src="assets/tick.svg" alt="tick" class="tick">
                    </div>
                </div>
            </div>
        </div>


    </div>



</div>
