<div class="close-icon" (click)="close()">
    <img src="../assets/close.svg" alt="" srcset="">
</div>


<div class="profile-container">
    <div class="profile">

        <div class="searchbar">
            <div class="search-btn"><img src="../assets/loupe.svg" alt="search" class="search-icon"></div><input type="text" name="search-bar" id="search" placeholder="Search people">
        </div>


        <div class="pfp">
            <img src="../assets/Person=Chris, Skin Tone=White, Posture=1 Happy.png" alt="">
        </div>


        <div class="detail">
            <div class="name">Dante fingston</div>
            <div class="profession">Marketing head</div>
        </div>


        <div class="action">
            <div class="container">
                <img src="../assets/speech-bubble.svg" alt="chat" class="txtchat icon" width="58px">
            </div>
            <div class="container">
                <img src="../assets/video-player.svg" alt="videochat" class="videochat icon" width="58px">
            </div>
        </div>
    </div>

    <div class="options">
        <div class="viewfriends">
            <div class="friend-icon">
                <img src="../assets/user.svg" alt="user">
            </div>
            <div class="sub">View friends</div>
        </div>
        <div class="fav">
            <div class="fav-icon">
                <img src="../assets/heart.svg" alt="fav">
            </div>
            <div class="sub">Add to Favorite</div>
        </div>
    </div>

    <div class="attachment-container">
        <div class="attach-title">Attachments</div>
        <div class="file-container">
            <div class="pdf thumb">PDF</div>
            <div class="video thumb">Video</div>
            <div class="mp3 thumb">MP3</div>
            <div class="image thumb">Images</div>
        </div>
        <div class="footer">
            <div class="view-btn">
                <button class="btn">View All</button><br>
            </div>
            <p>Assignment by Sahil Patel 😊</p>
        </div>
    </div>
</div>