.profile-container{
    display:grid;
    grid-template-rows: 50% 8% 42%;
    height:100vh;
    background:#f9f9f9;
}


.searchbar input[type='text']{
    width: 100%;
    border-radius: 0 22px 22px 0;
    border: none;
    outline: none;
}

.searchbar{
    margin: 0 20px;
    display:grid;
    grid-template-columns: 10% 90%;
}

.search-btn{
    display:flex;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 22px 0px 0px 22px;
}

.search-icon{
    width: 20px;
    display: flex;
    position: relative;
    text-align: center;
    align-content: center;
    cursor: pointer;
    padding: 12px;
    filter: invert(0.5);
}



.searchbar{
    margin: 0 20px;
    margin-top: 37px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.pfp{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.pfp img{
    width: 200px;
    background: white;
    border-radius: 98px;
}

.name{
    font-size: 30px;
    text-align: center;
}

.profession{
    font-size: 20px;
    text-align: center;
    color: #404040;
}

.action{
    display:grid;
    grid-template-columns: 50% 50% ;
}

.icon{
    display:flex;
    justify-content:center;
    padding: 30px;
    filter: invert(68%) sepia(100%) saturate(143) hue-rotate(277deg);
}


.container{
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #f3e0ff;
    border: 1px solid #e8c6ff;
    border-radius: 105px;
    transition:all 0.5s ease-in-out;
}

.container:hover{
    cursor: pointer;
    background: #e7c1ff;
}

.file-container{
    display:flex;
    width: 100%;
    justify-content:center
}

.options{
    font-size: 13px;
    margin-top: 9px;
}


.thumb{
    font-size:13px;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height:25px;
    width:25px;
    border-radius:8px;
    background-color: #e7c1ff;
    margin-right: 20px;
    border: 0px;
    border: 2px solid #e2b3ff;
    transition: all 0.5s ease
}
.thumb:last-child{
    margin-right: 0px;
}

.thumb:hover{
    cursor: pointer;
    border: 2px solid #9900ff;
    background-color: #dfacff;
}

.btn{
    cursor: pointer;
    background: none;
    border: 2px solid #9900ff;
    color: #9900ff;
    padding: 8px;
    width: 28%;
    border-radius: 36px;
    transition: all 0.5s ease-in-out;
}

.btn:hover{
    background:#9900ff;
    color:white
}

.view-btn{
    margin-top: 40px;
    display:flex;
    justify-content: center;
}

.attach-title{
    margin: 0 40px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.fav,.viewfriends{
    display: flex;
    margin: 0 40px;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.fav-icon,.friend-icon{
    display:flex;
}

.sub{
    margin-left: 12px;
}

.footer p{
    text-align: center;
}


